@import url(./normalize.css);
:root {
  --color-primary: #4949d7;
  --color-secondary: #7584a3;
  --color-accent: #3ad6de;
  --color-text: #282a65;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: #f5f5ff;
}
h1,
h2,
h3 {
  color: var(--color-text);
  line-height: 1.1;
  margin-bottom: 1rem;
}
h1 {
  font-size: 4.8rem;
  line-height: 1.4;
}
h2 {
  font-size: 3.9rem;
}
h3 {
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 1.3;
}
p {
  margin-top: 0;
  font-size: 2.2rem;
  line-height: 1.7;
  max-width: 40ch;
}

.color-primary {
  color: var(--color-primary);
}

.text-accent {
  color: var(--color-accent);
}

/* Buttons */
.btn {
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  outline: 0;
  padding: 1.5rem 4vw;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.shadow {
  box-shadow: 10px 10px 20px rgba(60, 60, 189, 0.25);
}

/* NavBar */
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 15rem 5rem 12rem;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__toggler {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav__item {
  padding: 0.5rem 2rem;
}
.nav__item > a {
  color: var(--color-secondary);
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color-text);
}

@media screen and (min-width: 930px) {
  .collapsible__content {
    opacity: 1 !important;
    max-height: 100vh !important;
  }
  .nav__list {
    display: flex;
    width: auto;
  }

  .nav__toggler {
    display: none;
  }
}
.nav .shadow {
  box-shadow: 5px 5px 5px rgba(60, 60, 189, 0.25);
}

/* Collapsible */
.collapsible__content {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s, opacity 0.35s ease-out;
}
.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100vh;
}

/* Hero (INtro) */
.hero-intro {
  background: url(../images//intro-bg.png) no-repeat;
  background-position: 0px -90px;
  background-size: cover;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.hero-intro__content {
  padding: 0 9rem;

  display: flex;
  justify-content: space-between;
}

.hero-intro__content img {
  display: none;
  max-width: 50%;
}
@media screen and (min-width: 930px) {
  .hero-intro__content {
    padding: 0 15rem 0 12rem;
  }
  .hero-intro__content img {
    display: block;
  }
}
.hero-intro__content .btn--primary {
  margin-right: 1rem;
  margin-bottom: 0.6rem;
}

.hero-intro__buttons {
  margin-bottom: 3rem;
}
